@{
    ViewBag.Title = "Home Page";
}

<div class="textContent">
    <div>
        <textarea placeholder="enter your json"></textarea>
        <button>Submit</button>
    </div>
</div>


@section BottomScripts
{
    <script type="text/javascript" src="~/Scripts/HomeIndex.js"></script>
}